name: pr

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version: ["1.21", "1.22", "1.23"]
    steps:
    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go-version }}
    - name: Check out code into the Go module directory
      uses: actions/checkout@v5
    - name: Run tests
      run: go test -v -p 1 ./...
